Sources/AppStoreAPI/app_store_connect_api_*.json linguist-generated
Sources/AppStoreAPI/Generated/**/*               linguist-generated
Sources/EnterpriseAPI/enterprise_api_*.json      linguist-generated
Sources/EnterpriseAPI/Generated/**/*             linguist-generated
