bazel/specs/com_apple_app_store_connect_api/app_store_connect_api_*.json linguist-generated
bazel/specs/com_apple_enterprise_program_api/enterprise_program_api_*.json linguist-generated
Sources/AppStoreAPI/Generated/**/* linguist-generated
Sources/EnterpriseAPI/Generated/**/* linguist-generated
